Repository great-lakes/botbuilder-wolf, pull requests merged in 2018-07, with the labels that each got.

#1 Breaking out src
  .gitignore
  TODO
  examples/alarmBot/abilities.ts
  examples/alarmBot/bot.ts
  examples/flightBot/bot.ts
  package-lock.json
  package.json
  src/helpers/helpers.ts
  src/helpers/index.ts
  src/index.ts
  src/middlewares/initializeWolfState.ts
  src/stages/actions/actions.ts
  src/stages/actions/index.ts
  src/stages/evaluate/evaluate.ts
  src/stages/evaluate/index.ts
  src/stages/fillSlot/fillSlot.ts
  src/stages/fillSlot/index.ts
  src/stages/intake/index.ts
  src/stages/intake/intake.ts
  src/stages/outtake/index.ts
  src/stages/outtake/outtake.ts
  src/types/index.ts
  src/types/types.ts
  tslint.json
Labels: stage:all, state

#9 Kslhacks/refactor outtake
  examples/alarmBot/bot.ts
  package-lock.json
  package.json
  src/stages/actions/actions.ts
  src/stages/outtake/outtake.ts
Labels: stage:outtake

#12 Kslhacks/state refactor
  examples/alarmBot/bot.ts
  package.json
  src/middlewares/initializeWolfState.ts
  src/stages/action/action.ts
  src/stages/action/index.ts
  src/stages/fillSlot/fillSlot.ts
  src/stages/intake/intake.ts
  src/stages/outtake/outtake.ts
Labels: rel:state, stage:all

#25 added test for intake
  examples/alarmBot/tests/alarmBot.test.ts
  package-lock.json
  package.json
  src/tests/intake.test.ts
Labels: rel:testing

#28 Kslhacks/slot refactor
  README.md
  examples/alarmBot/abilities.ts
  examples/alarmBot/nlp.ts
  examples/alarmBot/tests/alarmBot.test.ts
  src/helpers/helpers.ts
  src/stages/action.ts
  src/stages/evaluate.ts
  src/stages/fillSlot.ts
  src/stages/intake.ts
  src/types/types.ts
Labels: rel:slot, stage:all

#33 Add Testing
  src/tests/action.test.ts
  src/tests/evaluate.test.ts
  src/tests/fillSlot.test.ts
  src/tests/intake.test.ts
  src/tests/outtake.test.ts
  src/types/types.ts
Labels: rel:testing

#34 Kslhacks/travis
  .travis.yml
Labels: rel:testing

#44 Kslhacks/acknowledge
  README.md
  examples/alarmBot/abilities.ts
  examples/alarmBot/addAlarm/index.ts
  examples/alarmBot/bot.ts
  examples/alarmBot/listAbilities/index.ts
  examples/alarmBot/listAlarms/index.ts
  examples/alarmBot/removeAlarm/index.ts
  src/helpers/find.ts
  src/helpers/index.ts
  src/helpers/math.ts
  src/helpers/message.ts
  src/index.ts
  src/stages/action.ts
  src/stages/evaluate.ts
  src/stages/fillSlot.ts
  src/stages/intake.ts
  src/stages/outtake.ts
  src/types/index.ts
  src/types/types.ts
Labels: rel:slot, rel:state, stage:all

#48 Kslhacks/tests
  examples/alarmBot/bot.ts
  examples/alarmBot/tests/alarmBot.test.ts
  package.json
  src/stages/action.ts
  src/stages/evaluate.ts
  src/stages/fillSlot.ts
  src/stages/intake.ts
  src/stages/outtake.ts
  src/tests/action.test.ts
  src/tests/evaluate.test.ts
  src/tests/fillSlot.test.ts
  src/tests/intake.test.ts
  src/tests/outtake.test.ts
  src/tests/pizza.test.ts
Labels: rel:testing
